<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
  <noscript>
    <strong>请使用 Chrome、Firefox、Safari、360浏览器极速模式 等现代浏览器，IE浏览器可能会出现未知的问题。</strong>
    <strong>如有问题，请联系京投-人力资源部。</strong>
    <strong>Sorry for the inconvenience but Regulation-System doesn't work properly without JavaScript enabled and modern browsers.</strong>
  </noscript>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
